
form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 400px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 16px;
    border: 2px solid var(--yellow);
    font-family: 'Karla';
    font-size: 1.6rem;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.2);
}

form h3 {
    text-align: center;
    margin-bottom: 8px;
    color: var(--darkgray);
}

input {
    margin-bottom: 16px;
    height: 2rem;
    padding: 16px 8px;
}



select {
    height: 4rem;;
    margin-bottom: 16px;
    padding-left: 4px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-radius: 8px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem; 
    background: var(--yellow);
    border: none;
    width: 100%;
    margin-top: 8px;
}





button:hover {
        background-color: var(--salmon);
        cursor: pointer;
}



.booking-container {
    margin: 64px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 48px;
}

.booking-text {
   max-width: 400px;
}

.booking-text p {
    margin-bottom: 16px;
 }

.booking-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.booking-container h2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 24px;
}

sup {
    color: #ff0000;
    font-size: 1.6rem;
}

@media (max-width: 480px) {
    form {
        width: 90vw;
        gap: 4px;
        padding: 24px;
    }

    .booking-container {
        margin: 16px 16px;
        gap: 24px;
    }

    .booking-text {
        width: 90vw;
     }
}

.field-error {
   color: #ff0000; 
   font-size: 1.2rem;
   font-weight: 500;
   margin-bottom: 16px;
   margin-top: -16px;
}